# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build output
bin/
build/
dist/

# Go workspace files
go.work
go.work.sum

# Dependency directories (if any vendoring is used)
vendor/

# Logs
*.log

# OS-specific junk
.DS_Store
Thumbs.db

# IDE/editor junk
.vscode/
.idea/
*.swp

# Environment files
.env
.env.*

#sqlc files
sqlc.exe