services:
  db:
    image: postgres:18.0-alpine
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:latest
    env_file:
      - .env
    command: server --console-address ":9001" /data
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  app:
    build: .
    env_file:
      - .env
    ports:
      - "${PORT:-8000}:8000"
    depends_on:
      - db
      - minio

volumes:
  db_data:
  minio_data:
